---

import Image from 'astro/components/Image.astro';
import cloudIcon from "../../public/images/icons/cloud.svg"



import type { CollectionEntry } from 'astro:content';

interface SpeakerContentProps {
  speaker: CollectionEntry<'speakers'>
}

const { speaker } = Astro.props as SpeakerContentProps


---


<section>
  <!-- <section>
    <ul>
      {speakers.map((speaker) => (
        <li id={speaker.id} class="speaker-card">
          <div class="image-container">
            <Image 
              src={import.meta.env.BASE_URL + speaker.data.image.src} 
              alt={speaker.data.image.alt} 
              class="speaker-image"
              width={300} 
              height={300}
            />
          </div>        
          <p>{speaker.data.name}</p>
          <p>{speaker.data.role} at {speaker.data.company}</p>
          <p>{speaker.data.talkTitle}</p>
          <div class="cloud-icon-container">
            <Image src = {cloudIcon}
              alt = "Cloud Icon"
              class="cloud-icon-styles"
              width={40} 
              height={40}/>
          </div>
        </li>
      ))}
    </ul>
  </section> -->
  <ul>
      <li id={speaker.id} class="speaker-card">
        <div class="image-container">
          <Image 
            src={import.meta.env.BASE_URL + speaker.data.image.src} 
            alt={speaker.data.image.alt} 
            class="speaker-image"
            width={300} 
            height={300}
          />
        </div>        
        <p>{speaker.data.name}</p>
        <p>{speaker.data.role} at {speaker.data.company}</p>
        <p>{speaker.data.talkTitle}</p>
        <div class="cloud-icon-container">
          <Image src = {cloudIcon}
            alt = "Cloud Icon"
            class="cloud-icon-styles"
            width={40} 
            height={40}/>
        </div>
      </li>
   
  </ul>
</section>


<style>

  
ul {
    list-style: none;
    padding: 0;
    margin: 0; 
    justify-content: center; 
}

li.speaker-card {
    background: #2B2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

img {
    border-radius: 50%;
    max-width: 50%; 
    height: auto;
}

p {
    font-size: medium;
    margin: 0.5rem 0; 
}

.cloud-icon-container{
  margin-top: 1rem;

}

img.cloud-icon-styles {
    max-width: 50%; 
}


   /* Responsive Adjustments */
@media (max-width: 768px) {
    ul {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    }
}

@media (max-width: 480px) {
    ul {
        grid-template-columns: 1fr; 
    }
}

</style>

